#header {
  padding:20px;
  margin-bottom:10px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: #444;
}

.home-button {
  border-radius:5px;
  border: none;
  padding: 5px;
  margin-right:10px;
  cursor:pointer;
  float:right;
}

.home-api-item {
  cursor:pointer;
}

.swagger {
  padding-left:16px;
  font-size:12px;
  color: white;
  font-family: 'Roboto', sans-serif;
}
